<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>mvc1</display-name>
	
	<filter>
		<filter-name>F1</filter-name>
		<filter-class>com.demo.F1</filter-class>
	</filter>
	
	<filter>
		<filter-name>F2</filter-name>
		<filter-class>com.demo.F2</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>F1</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>F2</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>com.demo.SCLDemo</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>com.demo.HelloServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>AddBookController</servlet-name>
		<servlet-class>com.demo.AddBookController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/hello.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddBookController</servlet-name>
		<url-pattern>/AddBookController</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>bookform.jsp</welcome-file>
	</welcome-file-list>
</web-app>
